<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"] - GloboClimaApi</title>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;800&display=swap" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" href="/css/site.css">
    <link id="dark-mode" rel="stylesheet" href="/css/dark-mode.css">
    @RenderSection("Styles", required: false)
</head>
<body>
    <nav class="navbar navbar-expand-lg">
        <div class="d-flex align-items-center justify-content-between w-100">
            <button class="btn btn-no-border" id="toggleSidebar" title="Meus Favoritos" style="display: none;">
                <i class="fas fa-star" id="sidebarIcon"></i>
            </button>

            <a class="navbar-brand ml-2" href="/">Bem-vindo ao GloboClima</a>

            <div class="navbar-buttons d-flex align-items-center ml-auto">
                <a href="@Url.Action("Login", "Auth")" id="loginButton" class="btn btn-neutral">Entrar</a>
                <a href="@Url.Action("Register", "Auth")" id="registerButton" class="btn btn-neutral">Cadastrar</a>
                <button class="btn btn-dark-mode ml-2">
                    <i class="far fa-moon"></i> Dark Mode
                </button>
            </div>
        </div>
    </nav>

    <div class="sidebar" id="favoritesSidebar">
        <h3>Meus Favoritos</h3>
        <div id="favoriteCardsContainer" class="favorite-card-container">
        </div>
    </div>


    <main id="mainContent" class="container mt-4 main-content">
        @RenderBody()
    </main>

    <footer class="footer mt-auto">
        <p>&copy; 2024 GloboClima. Todos os direitos reservados.</p>
        <p><a href="/swagger/index.html">Documentação da API</a></p>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>   
    <script src="~/js/dark-mode.js"></script>

    @RenderSection("Scripts", required: false)

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const token = localStorage.getItem('authToken');

            const loginButton = document.getElementById('loginButton');
            const registerButton = document.getElementById('registerButton');
            const navbarButtons = document.querySelector('.navbar-buttons');

            if (token) {
                loginButton.style.display = 'none';
                registerButton.style.display = 'none';

                const logoutButton = document.createElement('a');
                logoutButton.innerHTML = `<i class="fas fa-power-off"></i>`;
                logoutButton.className = "btn logout-button ml-2";
                logoutButton.href = "#";
                logoutButton.onclick = function () {
                    localStorage.removeItem('authToken');
                    window.location.href = '/';
                };

                navbarButtons.appendChild(logoutButton);

                if (darkModeEnabled) {
                    logoutButton.classList.add('dark-mode-logout');
                }
            } else {
                loginButton.style.display = 'inline-block';
                registerButton.style.display = 'inline-block';
            }
        });
    </script>
</body>
</html>